extends layout

mixin item(itemData, size)
  if size == "small"
    +small(itemData)
  else
    if itemData.TypeID == 3
      +specialEvent(itemData)
    else
      +large(itemData)

mixin small(itemData)
  .dp_itemImage.dp_itemSmallImage
    a(href="")
      img.FormatImage(src="http://akimages.shoplocal.com/dyn_li/158.0.88.0/#{itemData.Image}")
    .dp_ratingsReviews.excludeFromMobile.FormatRatings
    .clear
  .dp_price.DealDescription.FormatDeal.FormatDealMediumSmall #{itemData.DealDescription}
  .dp_itemInfo
    h3.dp_title
      span.ellipsis_text.Title #{itemData.Title}
    .clear
  .clear

mixin large(itemData)
  .dp_itemImage.dp_itemLargeImage
    a(href="")
     img.FormatImage(src="http://akimages.shoplocal.com/dyn_li/300.0.88.0/#{itemData.Image}")
    .dp_ratingsReviews.excludeFromMobile.FormatRatings
    .clear
  .dp_itemInfo
    .dp_price.DealDescription.FormatDeal #{itemData.DealDescription}
    h3.dp_title
      span.ellipsis_text.Title #{itemData.Title}
    .dp_description #{itemData.Description}
    .clear
  .clear
  .gradientOverlay

mixin specialEvent(itemData)
  .dp_itemImage
    a(href="")
     img.FormatImage(src="http://akimages.shoplocal.com/dyn_li/921.0.88.0/#{itemData.Image}")
    .clear
  .clear

block content

  if Name == "DID template 1"
    .dynamicPageContainer
      #dynamicPageMaincontent.dynamicPageMaincontent
        .dynamicPageItems.dynamicPageItems_nineItem
          if (typeof Items[0] !== "undefined")
            if Items[0].TypeID == 3
              .dp_itemLarge.nineItem_1
                +item(Items[0], "large")
            else
              .dp_itemLarge.nineItem_1.listing
                +item(Items[0], "large")
          if (typeof Items[1] !== "undefined")
            .dp_itemSmall.nineItem_2.listing
              +item(Items[1], "small")
          if (typeof Items[2] !== "undefined")
            .dp_itemSmall.nineItem_3.listing
              +item(Items[2], "small")
          if (typeof Items[3] !== "undefined")
            .dp_itemSmall.nineItem_4.listing
              +item(Items[3], "small")
          if (typeof Items[4] !== "undefined")
            .dp_itemSmall.nineItem_5.listing
              +item(Items[4], "small")
          if (typeof Items[5] !== "undefined")
            .dp_itemSmall.nineItem_6.listing
              +item(Items[5], "small")
          if (typeof Items[6] !== "undefined")
            .dp_itemSmall.nineItem_7.listing
              +item(Items[6], "small")
          if (typeof Items[7] !== "undefined")
            .dp_itemSmall.nineItem_8.listing
              +item(Items[7], "small")
          if (typeof Items[8] !== "undefined")
            .dp_itemSmall.nineItem_9.listing
              +item(Items[8], "small")
          .clear
        .clear
        .ad_header.ad_header1.excludeFromMobile
      .clear
      .sl_dynamic_footer.PrimaryFooter.action-footer-text
  else
    p Use else Template: #{result.Name}